.wg {
    font-size: 60px;
    font-style: italic;
    font-family: Tekton Pro;
}

.powered {
    font-size: 18px;
    font-style: italic;
    font-family: Skia;
}

.other {
    height: 600px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
    }

.pic {
    'height': '500px';
}